---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import Tailblock from "~/components/Tailblock.astro";
// import FormBook from "~/components/forms/FormBook.astro";
---

<Layout>
  <!-- <Section>
    <Heading>
      <h1 slot="heading-title" class="font-black text-brand-green h2">
        Get Involved
      </h1>
      <p slot="heading-content" class="text-pretty">
        If you would like to get involved with what Missionary Tech Support is
        doing, here are three ways to support:
      </p>
    </Heading>
    <FormBook /> 
  </Section> -->

<Tailblock>
</Layout>
